{% extends "base.html" %}

{% block content %}

{% comment %}
  
<ul class="nav nav-tabs">
  <li class="{% block account_nav_email %}{% endblock %}">
    <a href="{% url 'account_email' %}">{% trans 'E-mail Addresses' %}</a>
  </li>
  <li class="{% block account_nav_change_password %}{% endblock %}">
    <a href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a>
  </li>
  {% url 'socialaccount_connections' as connections_url %}
  {% if connections_url %}
  <li class="{% block account_nav_socialaccount_connections %}{% endblock %}">
    <a href="{{ connections_url}}">{% trans 'Connected Accounts' %}</a>
  </li>
  {% endif %}
</ul>
{% endcomment %}

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-2">
      
{% block account_content %}
{% endblock %}
    </div>
    
  </div>
  
</div>

{% endblock %}

