[submodule "ansible-taskmngr"]
	path = ansible
	url = git@github.com:bititanb/ansible-taskmngr
	branch = master
  ignore = all
[submodule "django-app"]
	path = django-app
	url = git@github.com:bititanb/taskmngr
	branch = master
  ignore = all
