{% extends 'bootstrap3/bootstrap3.html' %}

{% load staticfiles %}

{% block bootstrap3_title %}
    {% block title %}
    {% endblock %}
{% endblock %}

{# block just before closing </head> #}
{% block bootstrap3_extra_head %}
<link href='{% static "tasks/css/base.css" %}' rel="stylesheet">
<link href='{% static "tasks/css/offcanvas.css" %}' rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">taskmngr</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li> 
        <li><a href="#">Page 3</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'tasklist' %}">Tasklist</a></li>
                <li class="hidden-sm hidden-md hidden-lg"><a href="#" role="button" data-toggle="offcanvas">offcanvas</a></li>
            </ul>
        </div>
    </nav>
-->

    {% block content %}
    {% endblock %}
{% endblock %}

{# block just before closing </body> #}
{% block bootstrap3_extra_script %}
<script src='{% static "tasks/js/offcanvas.js" %}'></script>
{% endblock %}
