{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form method="post" action="">
        {% csrf_token %}
        {{ formset.management_form  }}
        <table class="table table-main table-categories table-condensed">
          <thead>
            <tr>
              <th></th>
                {% for field in formset.0.visible_fields %}
                {% if field.name == 'DELETE' %}
                <th>{% bootstrap_label 'Remove' label_class='text-align-center' %}</th>
                {% else %}
                <th>{% bootstrap_label field.label label_class='text-align-center' %}</th>
                {% endif %}
                {% endfor %}
              </tr>
          </thead>
          <tbody>
            {% for form in formset %}
              {% if forloop.last and forloop.counter == 1 %}
                {% include "./snippets/categorylist-table-last-row.html" with form_group_class='form-group-formset empty only' %}
              {% elif forloop.last %}
                {% include "./snippets/categorylist-table-last-row.html" with form_group_class='form-group-formset empty' %}
              {% else %}
                {% include "./snippets/categorylist-table-last-row.html" with form_group_class='form-group-formset' %}
              {% endif %}
            {% endfor %}
            <tr>
              <td></td>
              <td class='td-button-confirm'>
                {% bootstrap_button button_type='link' button_class='btn-default' content='Go to tasks' size='medium' href=tasklist_all %}
                {% bootstrap_button button_type='submit' content='Save' button_class='btn-success' size='medium' value='submit' %}
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

{% endblock %}
