{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form method="post" action="">
        {% csrf_token %}
        {{ formset.management_form  }}
        <table class="table table-categories table-condensed">
          <thead>
            <tr>
              <th></th>
                {% for field in formset.0.visible_fields %}
                {% if field.name == 'DELETE' %}
                <th>{% bootstrap_label 'Remove' label_class='text-align-center' %}</th>
                {% else %}
                <th>{% bootstrap_label field.label label_class='text-align-center' %}</th>
                {% endif %}
                {% endfor %}
              </tr>
          </thead>
          <tbody>
            {% for form in formset %}
            <tr>
              {% if form.instance.pk != None %}
              <td class="cell-text-align-center">{% bootstrap_button button_type='link' content='Show' href=form.instance.get_absolute_url button_class='btn-success' size='small' %}</td>
              {% else %}
              <td></td>
              {% endif %}
              {% for field in form.visible_fields %}
              <td>{% bootstrap_field field show_label=False form_group_class='form-group-formset' %}</td>
              {% endfor %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td class='td-button-confirm'>
                {% bootstrap_button button_type='link' button_class='btn-default' content='Go to tasks' size='medium' href=tasklist_all %}
                {% bootstrap_button button_type='submit' content='Save' button_class='btn-success' size='medium' value='submit' %}
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

{% endblock %}
