{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}


<div class="container-fluid main-container">
  <div class="row">
    <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
      <div class="panel panel-default">
        <form method="post" action="">
          {% csrf_token %}
          {{ formset.management_form  }}
          <table class="table table-condensed table-main">
            <thead>
              <tr>
                <th class="task-col">{% bootstrap_label 'Description' label_class='text-align-center' %}</th>
                <th class="date-col">{% bootstrap_label 'Date' label_class='text-align-center' %}</th>
                <th class="category-col">{% bootstrap_label 'Category' label_class='text-align-center' %}</th>
                <th class="delete-col">{% bootstrap_label 'Remove' label_class='text-align-center' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for form in formset %}
              {% if forloop.last and forloop.counter == 1 %}
                {% include "./snippets/tasklist-table-last-row.html" with form_group_class='form-group-formset empty only' %}
              {% elif forloop.last %}
                {% include "./snippets/tasklist-table-last-row.html" with form_group_class='form-group-formset empty' %}
              {% else %}
                {% include "./snippets/tasklist-table-last-row.html" with form_group_class='form-group-formset' %}
              {% endif %}
              {% endfor %}
              <tr>
                <td></td>
                <td></td>
                <td class='td-button-confirm'>
                  {% bootstrap_button button_type='submit' content='Save' button_class='btn-success' size='medium' value='submit' %}
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
    <div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10">
      <div class="panel panel-default">
        <div class="panel-heading">Categories</div>
        <ul class="list-group">
          <li class="list-group-item"><a href="{{ tasklist_all }}">All</a></li>
          <li class="list-group-item"><a href="{{ tasklist_uncategorized }}">Uncategorized</a></li>
          {% for category in categories %}
          <li class="list-group-item"><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div>
        {% bootstrap_button button_type='link' extra_classes='margin-left-10' href=categorylist content='Edit' button_class='btn-info' %}
    </div>
  </div>
</div>

{% endblock %}


