{% extends 'tasks/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class='container'>
    <div class='row'>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Save" button_type="submit" button_class="btn-success" %}
        {% bootstrap_button "Reset" button_type="reset" button_class="btn-primary" %}
        {% url 'taskdelete' pk=object.id as task_delete_url %}
        {% bootstrap_button "Delete" button_type="link" button_class="btn-danger" href=task_delete_url %}
    </form>

    {% comment %}
    <table class='table table-bordered table-condensed'>
        <tr>
            <th>ID</th>
            <th>UID</th>
            <th>MAC address</th>
            <th>Hostname</th>
            <th>IP address</th>
        </tr>

        {% for work_station in object_list %}
        <tr>
            <td><a href="{% url 'work-station-update' pk=3 %}">{{ work_station.id }}</a></td>
            <td><a href="{% url 'work-station-update' pk=3 %}">{{ work_station.uid }}</a></td>
            <td>{{ work_station.mac_address }}</td>
            <td>{{ work_station.host_name }}</td>
            <td>{{ work_station.ip_address }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endcomment %}
    </div>
</div>
{% endblock %}

{% comment %}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
{{ form|pprint }}
{{ workstation_list|pprint }}
{{ object_list|pprint }}
{{ objects_list|pprint }}
{% if workstation_list %}
    <ul>
    {% for object in object_list %}
        <b>{{ object.uid }}</b>
        <b>{{ object.host_name }}</b>
        <li><a href="/web/{{ pk }}/">{{ device.device_id_field }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Error. oobject_list return false</p>
{% endif %}
{% endcomment %}

