{% extends 'bootstrap3/bootstrap3.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block bootstrap3_title %}
    {% block title %}
    {% endblock %}
{% endblock %}

{# block just before closing </head> #}
{% block bootstrap3_extra_head %}
    <link href='{% static "tasks/css/base.css" %}' rel="stylesheet">
    <link href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css' rel='stylesheet'>
{% endblock %}

{% block bootstrap3_content %}
{% url 'tasklist_all' as tasklist_all %}
{% url 'tasklist_uncategorized' as tasklist_uncategorized %}
{% url 'categorylist' as categorylist %}
{% url 'account_login' as login %}
{% url 'account_signup' as signup %}
{% url 'account_logout' as logout %}
{% url 'account_email' as email %}
{% url 'account_change_password' as change_password %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ tasklist_all }}">taskmngr</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-left">
                {% if user.is_authenticated %}
                <li><a href="{{ tasklist_all }}">Tasks</a></li>
                <li><a href="{{ categorylist }}">Categories</a></li>
                {% endif %}
          </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="navbar-text">{{ app_version }}.{{ app_revision_short }}</span></li>
                {% if user.is_authenticated %}
                <li><a href="{{ email }}">{{ user.email }}</a></li>
                <li><a href="{{ logout }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ login }}">Login</a></li>
                <li><a href="{{ signup }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

{% endblock %}

{# block just before closing </body> #}
{% block bootstrap3_extra_script %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js'></script>
    <script src='{% static "tasks/js/custom.js" %}'></script>
{% endblock %}
