/*
body {
    padding-top: 70px;
}
*/

.margin-bottom-2  { margin-bottom: 2px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-40 { margin-bottom: 40px; }
.margin-bottom-60 { margin-bottom: 60px; }
.margin-bottom-80 { margin-bottom: 80px; }
.margin-bottom-100 { margin-bottom: 100px; }
.margin-bottom-150 { margin-bottom: 150px; }

textarea {
    resize: none;
}

.text-align-center {
    text-align: center;
    display: block;
}

.cell-text-align-center {
    text-align: center;
    display: table-cell;
}

.text-align-right {
    text-align: right;
    display: block;
}

.cell-text-align-right {
    text-align: right;
    display: table-cell;
}

.td-button-confirm {
    padding-top: 20px !important;
    text-align: right;
    display: table-cell;
}

.form-group {
    margin-bottom: 0;
    text-align: center !important;
}

td, th {
    //vertical-align: middle !important;
    border: none !important;
}

.checkbox label {
    display: block;
    padding-left: 30px;
}

div.navbar-header > ul.nav {
    margin-left: 0;
    margin-right: 0;
}
